<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <meta charset="utf-8">
</head>
<body>
  <header style="padding: 2em">
  <% include ./partials/_header %>
  </header>
  <table>
    <tr>
      <th style="padding-bottom: 10px">Short URL</th>
      <th style="padding-bottom: 10px">Full URL </th>
      <th style="padding-bottom: 10px">
        <form method="GET" action="/urls/new">
          <input type="submit" value="Create new link">
        </form>
      </th>
    </tr>
  <% for(keys in urls){ %>
    <tr>
      <td valign="center"><a href="<%= urls[keys] %>"><%= keys %>.bitly</a>:</td><td><%= urls[keys] %></td>
      <td valign="center">
        <form method="POST" action="/urls/<%= keys %>/delete">
        <input type="submit" value="Delete">
        </form>
      </td>
      <td align="center">
        <form method="GET" action="/urls/<%= keys %>">
        <input type="submit" value="Edit">
        </form>
      </td>
    </tr>
  <% }; %>
</table>

</body>
</html>
