<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <meta charset="utf-8">
</head>
<body>
  <header style="padding: 2em">
  <% include ./partials/_header %>
  </header>
  <table>
    <tr>
      <th style="padding-bottom: 10px">Short URL</th>
      <th style="padding-bottom: 10px">Full URL </th>
      <th style="padding-bottom: 10px">
        <form method="GET" action="/urls/new">
          <input type="submit" value="Create new link">
        </form>
      </th>
    </tr>
  <% if (urls) { for(let i = 0; i< urls.length; i++ ){ %>
    <tr>
      <td valign="center"><a href="/u/<%= urls[i].short %>"><%= urls[i].short %></a>:</td><td><%= urls[i].long %></td>
      <td valign="center">
        <form method="POST" action="/urls/<%= urls[i].short %>/delete">
        <input type="submit" value="Delete">
        </form>
      </td>
      <td align="center">
        <form method="GET" action="/urls/<%= urls[i].short %>">
        <input type="submit" value="Update">
        </form>
      </td>
    </tr>
  <% }}; %>
</table>

</body>
</html>
